[submodule "lib/NCL"]
	path = lib/NCL
	url = https://github.com/KimBurgess/netlinx-common-libraries.git
[submodule "lib/tp"]
	path = lib/tp
	url = https://github.com/KimBurgess/touch-panel-library.git
[submodule "lib/rms-tools"]
	path = lib/rms-tools
	url = https://github.com/KimBurgess/rms-tools
[submodule "lib/RMS"]
	path = lib/RMS
	url = https://github.com/KimBurgess/rms-sdk.git
